[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==19.3b0"

[packages]
discord-py = "*"
jishaku = {git = "https://github.com/Starwort/jishaku",ref = "master"}
pylint = "*"
black = "==19.3b0"
fuzzywuzzy = "*"

[requires]
python_version = "3.7"
